.loginWrapper {
  background-color: #d2eeff;
  position: absolute;
  top: 50%;
  left: 50%;
  transform: translate(-50%, -50%);
  width: 450px;
  height: 350px;
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
  padding: 50px 60px;
  border-radius: 20px;
  box-shadow: 0.1rem 0.1rem 1.5rem #afc7d6, -0.1rem -0.1rem 1.5rem #afc7d6;
}
.loginWrapper svg {
  margin-top: 10px;
  font-size: 1.5rem;
  fill: gray;
}
